<nav>
  <div class="logo">
    <img src="./assets/img/logo.svg" alt="logo" (click)="onLogoClick()"/>
  </div>
  <ul>
    <li *ngIf="isAuthenticated && isPatient" ><a routerLink="doctors" >Doctors</a></li>
    <li *ngIf="isAuthenticated && isPatient"><a routerLink="personalData" >Personal Data</a></li>
    <li *ngIf="isAuthenticated && isDoctor"><a routerLink="addVisit" >Add Visit</a></li>
    <li *ngIf="isAuthenticated && isDoctor"><a routerLink="doctorVisits" >My Visits</a></li>
    <li *ngIf="isAuthenticated"><a (click)="onLogout()">logout</a></li>
  </ul>
</nav>
