main {
  text-transform: uppercase;
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main>div{
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  /*border: #1F707B solid 2px;*/
}

main div ul{
  display: flex;
  flex-direction: column;
  border: none;
  gap: 40px;
}

main div ul li{
  display: flex;
  border: none;
  background-color: #999;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;

}

li div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

li div:nth-child(1){
  color: #fff;
  background-color: #199A8E;
  width: 30%;
}

li div:nth-child(2){
  color: #fff;
  width: 50%;
}

li div:nth-child(3){
  color: #fff;
  width: 20%;
  background-color: #bbb;
}

li div:nth-child(3).completed{
  background-color: green;
}

.choose{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.choose div{
  width: 20%;
  border: solid #ddd 1px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose a{
  display: flex;
  text-decoration: none;
  color: #fff;
  width: 20%;
  align-items: center;
  justify-content: center;
  background-color: #1F707B;
  border-radius: 25px;
  height: 60px;
}

.choose a:hover{
  cursor: pointer;
  background-color: #199A8E;
}
