<main>
  <div>
    <div class="choose">
      <a class="today">Today</a>
      <a class="next">Next</a>
      <a class="previous">Previous</a>
      <div class="date"></div>
    </div>
    <ul class="visits">
      <li>
        <div>13.04.2024</div>
        <div>Mariusz Pudzianowski</div>
      </li>
      <li>
        <div>13.04.2024</div>
        <div>Mariusz Pudzianowski</div>
      </li>
      <li>
        <div>13.04.2024</div>
        <div>Mariusz Pudzianowski</div>
      </li>
      <li>
        <div>13.04.2024</div>
        <div>Mariusz Pudzianowski</div>
      </li>
      <li>
        <div>13.04.2024</div>
        <div>Mariusz Pudzianowski</div>
      </li>
    </ul>
  </div>
</main>
