.home {
  margin-top: 83px;

}

.wrapper{
  background: #1F707B;
}


.logo img {
  max-width: 25vw;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

a {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  color: white;
  width: 25vw;
  height: 8vh;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.login {
  background-color: #199A8E;
  border-width: 0;
}

a.sign-up {
  background-color: inherit;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

a:hover {
  cursor: pointer;
}

a.login:hover {
  color: #199A8E;
  background-color: white;
}

a.sign-up:hover {
  color: #199A8E;
  background-color: white;
}
