<div class="personal-data">
  <main>
    <div class="wrapper">
      <div class="choose">
        <div><b>Name</b>: {{patient?.name}}</div>
        <div><b>Surname</b>: {{patient?.surname}}</div>
        <div><b>email</b>: {{patient?.email}}</div>
        <div><b>Phone number</b>: {{patient?.phone}}</div>
      </div>
      <p>My Visits</p>
      <ul class="visits">
        <li *ngFor="let visit of visits">
          <div>{{visit.dateTime | date: 'MM.dd.yyyy HH:mm '}}</div>
          <div>{{visit.doctor}}</div>
        </li>
      </ul>
    </div>
  </main>
</div>
