<div class="personal-data">
  <main>
    <div class="wrapper">
      <div class="choose">
        <div><b>Name</b>: Mariusz</div>
        <div><b>Surname</b>: Pudzianowski</div>
        <div><b>email</b>: dzielnypacjent@gmail.com</div>
        <div><b>Phone number</b>: 213721150</div>
      </div>
      <p>My Visits</p>
      <ul class="visits">
        <li>
          <div>13.04.2024</div>
          <div>Doctor Oetker</div>
        </li>
        <li>
          <div>13.04.2024</div>
          <div>Doctor Oetker</div>
        </li>
        <li>
          <div>13.04.2024</div>
          <div>Doctor Oetker</div>
        </li>
        <li>
          <div>13.04.2024</div>
          <div>Doctor Oetker</div>
        </li>
        <li>
          <div>13.04.2024</div>
          <div>Doctor Oetker</div>
        </li>
      </ul>
    </div>
  </main>
</div>
