<div class="wrapper">
  <div class="doctor" id=1>
    <div class="doctorCard">
      <div class="info">
        <div class="photo"><img src="/assets/img/doctor1.jpg" alt=""/></div>
        <div class="name">
          <p>Doctor Dolittle</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate debitis
          delectus
          distinctio excepturi nam odit placeat quia quos? Alias consectetur dignissimos dolore
          illum
          ipsam
          quae quasi ratione suscipit voluptatum.</p>
      </div>
      <div class="schedule">
        <div class="days">
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
          <div class="day">
            <div>Sat</div>
            <div>13</div>
            <div>04</div>
            <div>2024</div>
          </div>
        </div>
        <div class="hours">
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
        </div>
      </div>
    </div>
  </div>
  <button>submit</button>
</div>
