<div class="wrapper">
  <div class="doctor" id=1>
    <div class="doctorCard">
      <div class="info">
        <div class="photo">
          <img [src]="doctor.photoUrl ? doctor.photoUrl : '/assets/img/default-photo.jpg'" alt=""
               class="img-fluid"
          />
        </div>
        <div class="name">
          <p>{{doctor.name}} {{doctor.surname}}</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate debitis
          delectus
          distinctio excepturi nam odit placeat quia quos? Alias consectetur dignissimos dolore
          illum
          ipsam
          quae quasi ratione suscipit voluptatum.</p>
      </div>
      <div class="schedule">
        <div class="days">
          <div class="day" *ngFor="let day of days" (click)="selectDay(day)" [class.selected]="isSelected(day)">
            <div>{{ getDayOfWeek(day) }}</div>
            <div>{{ day.getDate() }}</div>
            <div>{{ getMonthName(day) }}</div>
            <div>{{ day.getFullYear() }}</div>
          </div>
        </div>
        <div class="hours">
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
          <div class="hour">8:00</div>
        </div>
      </div>
    </div>
  </div>
  <button>submit</button>
</div>
